---
import { Icon } from "astro-icon/components";

const apps = [
  {
    name: "Resume",
    icon: "mdi:file-pdf-box",
    href: "https://raw.githubusercontent.com/eddyv/awesome_cv/main/cv.pdf",
    bgColor: "bg-[#FF0000]",
    iconColor: "text-white",
    type: "icon",
  },
  {
    name: "Mail",
    icon: "mdi:email",
    href: "mailto:vaismanedward@gmail.com",
    bgColor: "bg-gradient-to-b from-[#2175F5] to-[#3C95FF]", // macOS 15 Mail gradient
    iconColor: "text-white",
    type: "icon",
    newWindow: true,
  },
  {
    name: "GitHub",
    icon: "mdi:github",
    href: "https://github.com/eddyv",
    bgColor: "bg-[#24292f]",
    iconColor: "text-white",
    type: "icon",
    newWindow: true,
  },
  {
    name: "LinkedIn",
    icon: "mdi:linkedin",
    href: "https://www.linkedin.com/in/edwardvaisman/",
    bgColor: "bg-gradient-to-b from-[#3C95FF] to-[#2175F5]",
    iconColor: "text-white",
    type: "icon",
    newWindow: true,
  },
  {
    name: "Ghostty Terminal",
    icon: "ghostty-term",
    href: "#",
    bgColor: "bg-transparent",
    iconColor: "text-white",
    isActive: true,
    newWindow: false,
    noBorder: true,
  },
];
---

<div class="fixed bottom-0 left-1/2 z-50 -translate-x-1/2 pb-4">
  <div
    class="flex items-end gap-2 rounded-2xl bg-white/10 px-2 pb-2 pt-2 backdrop-blur-2xl"
  >
    {
      apps.map((app) => (
        <a
          href={app.href}
          {...(app.newWindow && {
            target: "_blank",
            rel: "noopener noreferrer",
          })}
          class="group relative transition-all duration-150 ease-in-out hover:-translate-y-2"
        >
          <div class="relative pb-2">
            <div
              class={`flex items-center justify-center shadow-lg transition-all duration-150 group-hover:scale-105 ${
                app.noBorder ? "size-12" : "size-12 p-2"
              } rounded-xl ${app.bgColor}`}
            >
              <Icon
                name={app.icon}
                class={`${app.noBorder ? "size-full" : "size-8"} ${app.iconColor}`}
              />
            </div>
            <div
              class={`absolute bottom-0 left-1/2 h-1 w-1 -translate-x-1/2 rounded-full ${
                app.isActive
                  ? "bg-white"
                  : "bg-white/50 opacity-0 group-hover:opacity-100"
              }`}
            />
          </div>
          <span class="absolute -top-8 left-1/2 -translate-x-1/2 rounded-md bg-black/80 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            {app.name}
          </span>
        </a>
      ))
    }
  </div>
</div>
